body {
    font-family: 'Roboto', sans-serif;
    background-color: #9100ff; /* Color de fondo cambiado */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

header {
    background-color: #4d2881; /* Color del header cambiado */
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-style: italic;
}

h1 {
    margin: 0;
}

.form-container {
    background-color: #492173;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
    transition: all 0.3s ease;
}

.form-container:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.form-register {
    display: flex;
    flex-direction: column;
}

.form-register label {
    margin-bottom: 5px;
    font-weight: lighter;
    color: #fff;
    font-family: cursive;
}

.form-register input,
.form-register select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #324a5f;
    border-radius: 8px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: #5b546e;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.form-register input:focus,
.form-register select:focus {
    border-color: #1b98e0;
    box-shadow: 0 0 8px rgba(27, 152, 224, 0.5);
}

.form-register input::placeholder,
.form-register select option {
    color: #88a2a8;
}

.color-input {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background-color: #324a5f;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
